@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background: #f7faff;
	font-family: 'Roboto', sans-serif;
	height: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-padding-right{
	padding-right: 0;
}
.bg-white {
	background-color: #fff;
}

/* NAVBAR  */
nav.navbar.navbar-toggleable-md.navbar-light.bg-white {
	padding: 0 16px;
	-webkit-box-shadow: 0px 4px 44px 0px #f7f8ff;
	-moz-box-shadow: 0px 4px 44px 0px #f7f8ff;
	box-shadow: 0px 4px 44px 0px #f7f8ff;
}
.navbar-brand{
	color: #7599df !important;
}
.navbar-nav .nav-item a {
	margin: 20px;
	
}
.navbar-nav .nav-item .nav-link {
	color: #c0c4c7 !important;
	font-size: 14px;
}

li.nav-item.active {
	background-image: radial-gradient(
		#fbfcff,
		#f7f8fc
	);
  /* background: #fbfcff; */
}
li.nav-item:hover {
	background-image: radial-gradient(
		#fbfcff,
		#f7f8fc
	);
}

input#search::-webkit-input-placeholder {
  color: #ededed;
}
input#search {
  border: none;
}
li.nav-item.no-active,.no-active:hover {
	background: inherit;
}
/* NAVBAR  */



.content {
	margin-top: 50px;
}

.header-div nav .activity-btn {
	font-size: 14px;
}

a.flex-sm-fill.text-sm-center.nav-link.activity-btn {
	background: transparent;
	color: #0275d8;
	border: 1px solid #0275d8;
	border-radius: 2rem;
}
a.flex-sm-fill.text-sm-center.nav-link.dropdown-toggle {
	color: #c0c4c7;
}

.welcomeText{
	display:flex;
	margin-top: 10px;
  flex-direction:row;
	align-items: center;
	color: #c0c4c7;
}
.welcomeTextTitle{
	flex-grow:0;
	margin-right: 10px;
}

.divider{
	flex-grow:1;
	margin-top: 8px;
  height: 1px;
  background-color: #c0c4c7;
}

.content-1 {
	margin-top: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
	-moz-box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
	box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
}

.card.left-card {
	border: none;
	border-radius: inherit;
	border-right: 1px solid #c0c4c7;
}
.card .menu {
	margin: 10px;
	margin-right: 20px;
	color: #0275d8
}
.card .card-block {
	text-align: center;
}
.card .card-block img {
	width: 30%;
}
.card .card-title{ 
	margin: 20px 0;
	font-size: 14px;
	font-weight: bold;
}
.card .card-text {
	color: #c0c4c7;
	font-size: 14px;
	margin: 20px 0;
}
.card .card-footer{
	background-color: inherit;
	border: none;
	text-align: center;
	margin: 20px 0;
	padding-bottom: 0px;
}
.card .card-footer a{
	margin-left: 10px;
	font-size: 20px;
	color: #c0c4c7;
	text-decoration: none;
}

.right-content-top {
	padding: 20px;
	border-bottom: 1px solid #c0c4c7;
	width: 100%;
}
.right-content-top .content-title {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}
.right-content-top .main-content {
	margin-top: 10px;
	width: 100%;
}

.main-content .title{
	font-size: 13px;
	font-weight: bold;
}
.main-content .desc{
	font-size: 12px;
	color: #c0c4c7;
}
.main-content .desc .badge{
	background-color: #dbeeff;
	color: #8fa7da;
	margin: 3px;
	padding: 5px;
}
.main-content .desc img{
	width: 15%;
	border-radius: .25rem;
	margin: 3px;
}
.main-content .desc .add{
	font-size: 30px;
	line-height: 10px;
}

.right-content-bottom {
	width: 100%;
	padding: 20px;
	position: relative;
}
.right-content-bottom .content-title {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}
.right-content-bottom .main-content {
	margin-top: 10px;
	width: 100%;
}
.test {
	position: absolute;
	right: 0;
	bottom: 0;
}
.main-content .more{
	background-color: #5f94fa;
	color: #fff;
	font-size: 25px;
	line-height: 10px;
	width: 100%;
	text-align: center;
	box-shadow: inset #3e61a2 9px 4px 9px -6px;
}

.content-2 {
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
}

.content-2 .char-box {
	margin-left: 0;
	margin-right: 0;
	width: 31%;
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
	-moz-box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
	box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
}
.content-2 .char-box .info .info-title {
	text-align: right;
	font-size: 24px;
	margin-bottom: 0;
}
.content-2 .char-box .info .info-desc {
	text-align: right;
	margin-top: 0;
	padding-top: 0;
	font-size: 10px;
	color: #c0c4c7;
}
.content-2 .char-box .info .more-text {
	font-size: 12px;
	text-decoration: underline;
	position: absolute;
	right:15;
	bottom: 0;
}
.ct-chart1{
	width: 150px;
	height: 150px;
	position: relative;
	left: -15px;
}
.ct-chart1 .ct-series-a .ct-slice-donut-solid{
	fill: #ebeff1;
}
.ct-chart1 .ct-series-b .ct-slice-donut-solid{
	fill: #5f94fa;
}

.ct-chart2{
	width: 150px;
	height: 150px;
	position: relative;
	left: -15px;
}
.ct-chart2 .ct-series-a .ct-slice-donut-solid{
	fill: #ebeff1;
}
.ct-chart2 .ct-series-b .ct-slice-donut-solid{
	fill: #fbb347;
}

.ct-chart3{
	width: 150px;
	height: 150px;
	position: relative;
	left: -15px;
}
.ct-chart3 .ct-series-a .ct-slice-donut-solid{
	fill: #ebeff1;
}
.ct-chart3 .ct-series-b .ct-slice-donut-solid{
	fill: #f87672;
}


.content-3 {
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 50px;
}

.content-3 .char-box {
	margin-left: 0;
	margin-right: 0;
	width: 49%;
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
	-moz-box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
	box-shadow: 0px 0px 40px -2px rgba(243,243,243,1);
}
.content-3 .char-box .header {
	width: 100%;
}
.content-3 .char-box .header .header-title {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
.content-3 .char-box .header .header-icon {
	text-align: right;
	
}

.ct-chartLine{
	width: 100%;
	height: 400px;
	position: relative;
	left: -15px;
}
.chart {
	width: 100%;
	margin-top: 20px;
}
.chart .title {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
.project-list {
	list-style: none;
}
.project-list li{
	width: 100%;
	margin-top: 50px;
}
.project-list .list-text {
	text-align: left;
	font-size: 14px;
}
.project-list .list-perc {
	text-align: right;
	font-size: 14px;
	color: #c0c4c7;
}

.ct-chartLine .ct-series-e .ct-bar {
	stroke: #898ce0;
}
.ct-chartLine .ct-series-d .ct-bar {
	stroke: #f98489;
}
.ct-chartLine .ct-series-c .ct-bar, {
	stroke: #ffbd53;
}
.ct-chartLine .ct-series-b .ct-bar {
	stroke: #6397fc;
}
.ct-chartLine .ct-series-a .ct-bar {
	stroke: #3ad8a7;
}

.ct-chartSimple{
	width: 100%;
	height: 400px;
	position: relative;
	left: -15px;
}
.chart-work {
	width: 100%;
	margin-top: 20px;
}
.chart-work .chart-info {
	width: 30%;
	margin: auto;
}
.chart-work .chart-chart {
	width: 69%;
	margin: auto;
}

.ct-chartSimple .ct-series-a .ct-line {
	stroke: #87a0de;
}
.ct-chartSimple .ct-series-a .ct-point {
	display: none;
}
.ct-chartSimple .ct-series-a .ct-area {
	display: none;
}
.ct-chartSimple .ct-series-b .ct-line {
	display: none;	
}
.ct-chartSimple .ct-series-b .ct-area {
	fill: #3098ff;
}

.ct-chartSimple .ct-series-b .ct-point {
	display: none;
}

.chart-work .chart-info .info-list {
	font-size: 11px;
}